.string-color { color: rgb(236, 51, 18); }
.number-color { color: rgb(31, 31, 250); }
.const-color { color: rgb(49, 49, 165); }
.document-color { color: rgb(0, 145, 230); }
.function-color { color:rgb(189, 145, 0); }
.var-color { color: #00948d; }